/*
red #EF5350; background-color: rgba(239, 83, 89, .5);
gray #2D2D2A; background-color: rgba(45, 45, 42, .5);
dark blue #4F7CAC;
light blue #6CCFF6;
black #001011
f5cb5c
*/


/*.parallax-container {
     height: "your height here";
   }*/

#nav {
    margin-bottom: 0;
}

#nav .col.l12 {
    background-color: rgba(45, 48, 71, .75);
}

#folioHeader {
    margin-bottom: 0;
    /* min-height: 450px; */
}

#folioHeader {
    margin-bottom: 0;
}

#folioHeader p {
    padding-bottom: 1em;
}

#folioHeader .s12 {
    margin-bottom: 0;
}

#aboutMe {
    margin-bottom: 0;
}

#socialUl li {
    display: inline;
    width: 50%;
}

#bgimage1 {
    margin-bottom: 0;
}

.githubImg {
    width: 25%;
    height: 25%;
}

#aboutMe {
    text-align: center;
}

#linkSection .right {
    text-align: center;
}

#linkSection .s6 {
    text-align: center;
}

.page-footer {
    background-color: #f5cb5c;
}

.nameCard {
    text-align: center;
    margin-top: 5%;
    float: none;
}

.scrollDown {
    margin-bottom: 2em;
}

.btn-floating i {
    color: #e9b44c;
}

.btn-floating i:hover {
    color: white;
}

.btn-floating i:focus {
    color: #e9b44c;
}

.btn-floating {
    background: transparent;
    color: white;
}

.btn-floating:hover {
    background: #e9b44c;
}

.btn-floating:focus {
    background: white;
}

.btn-floating:visited {
    background: transparent;
}


/*.row .col .l6{
  width: 100%;
}*/

nav .brand-logo {
    background-image: url(../img/logo1.png);
    height: 100%;
    width: 225px;
    background-size: cover;
    background-position: center;
}

.links {
    margin-top: 15%;
}

.arrowBtn {
    margin-bottom: 50px;
}

#folioHeader .profilePic {
    text-align: center;
    /*padding: 2em 12em;*/
}

footer .container .row {
    padding-bottom: 10em;
}